<style>
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 2rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1rem;
}
</style>
<div class="container-fluid" style="background-color:#001F5B!important;min-height:100vh;height:100%;">        
    <div class="container" style="background-color:#f8f9fa!important;padding-top:50px;padding-right:25px;padding-left:25px;padding-bottom:25px;min-height:100vh;height:100%;">
        <h1>Admin Documentation</h1>
        <%= link_to "Back", admin_path%>
		<br><br>
          <h3>Functionality</h3>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
  
	 
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				Pre-approved Emails
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p>Admins can add emails to pre-approved list to let users have access to the website as soon as they claim the account. The emails can be added one at a time or mulitple emails 
			  can be uploaded at once using the file upload option.</p>
			  <p>The following is the constraints on uploading a file</p>
			  <ul>
				<li>Must be a .csv file</li>
				<li>At least one header in the file must be named "Email" </li>
				<li>The email column should only have emails</li>
				<li>There can be duplicates in the email column</li>
				<li>The number of approved emails depends on whether the some of the emails were already a part of the list</li>
			  </ul>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				Set Committes
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>Admins can make committees and assign mutliple members to each committee. 
			  </p>
			  <ul>
				<li>Two committees can not have the same name</li>
				<li>A committee can be deleted </li>
				<li>A member can be part of different committees</li>
				<li>A member can be removed from a committee using the "Delete" button</li>
			  </ul>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				Account Requests
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>Account requests from users not on the pre-approved list will be found here. 
			  These users can be either approved or denied access to the website. 
			  <ul>
			  <li>If approved, the user will have access to website when they log back in. 
			  <li>If denied, the user profile information will be deleted, they won't have access to any pages on the website and they will only see the sign in page</p>
			  </ul>			
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Active Users
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Users that are approved and have already claimed an account will be found here. 
			  The "View" on each user will take the admins to a page where they can edit the user's profile, degrees or positions.
			  The "Save" button must be clicked for the changes to be saved</p>
			</div>
		  </div>
		</div>
	  </div>
  
  </div>
</section>


<br><br>
        <h3>FAQ on User issues</h3>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
  
	 
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2_0" aria-expanded="true" aria-controls="collapse2_0">
				What can I do if the user does not have access to the website?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p>If the user was previously on the pre-approved list before they claimed an account, they should be instantly have access when they do claim their account.
			  If not, check in the Account Requests page to see if the user is in the list, waiting for approval. </p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2_1" aria-expanded="true" aria-controls="collapse2_1">
				What can I do if I'm having trouble adding new committees?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>Admins should be able to just add a name and click on the add button to create a new committee, on the set committee page. If this isn't 
			  working ensure that there isn't another committee with the same name. 
			  </p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2_2" aria-expanded="true" aria-controls="collapse2_2">
				What can I do if users have inappropriate content on their profile?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>Admins have full access to all members' profiles. Admin can go the active users page and the view the member's profile 
			  and edit any inappropriate content. If the issue continues and the member becomes a malicious user, the admins have the privilege 
			  to delete the user's account, so they don't have access to the website any more. </p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2_3" aria-expanded="true" aria-controls="collapse2_3">
				What can I do if I have issues that are not mentioned in the FAQ and can't be resolved?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Contact the product owner at <a href="mailto:name@email.com">jonathan09@tamu.edu</a></p>
			</div>
		  </div>
		</div>
	  </div>
  
  </div>
</section>


<br><br>
        <h3>System Maintenance</h3>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
  
	 
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3_0" aria-expanded="true" aria-controls="collapse3_0">
				System set up and installation
			  </a>
			</h3>
		  </div>
		  <div id="collapse3_0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p>
			  The source code for this website and instructions for installation to further develop are availiable at <a href="https://github.com/JasonGilman18/TAMUSHPEMemberPortal" target="_blank">https://github.com/JasonGilman18/TAMUSHPEMemberPortal</a>.
			  The instructions are also mentioned below for convenience.
			  </p>
			  <p>
			  The following are the dependencies required
			  <ul>
			  	<li> Ruby 3.0.0 </li>
				<li> Rails 6.1.2 </li>
				<li> Bootstrap 5.0.0 – To aid in frontend design and mobile friendliness </li>
				<li> rspec-rails– To aid in testing source code </li>
				<li> Heroku </li>
				<li> PostgreSQL13.2 </li>
				<li> GitHub </li>
				<li> Active-Storage-Validations – To aid in validating image attachments in rails models </li>
				<li> AWS-SDK-s3 – To aid in connecting rails to AWS S3 service </li>
				<li> Omniauth 1.9.1 - To configure rails to allow Google Cloud Authentication </li>
				<li> Devise – To aid in directing application use for authenticated and unauthenticated users </li>
				<li> Omniauth-google-oauth2 –To configure rails to allow Google Cloud Authentication </li>
			  </ul>
			  </p>

			  <p>To install the application locally, clone the GitHub repository above to get the source code. After downloading the source code onto your machine, 
			  ensure that you have the dependencies listed above installed on your machine. Next, you will need to run the following commands from inside the source 
			  code directory, to make our application operational:
				<ol>
				<li> bundle install </li>
				<li> yarn install </li>
				</ol>
			 The project is now set up but not operational. The following commands will instantiate the database and populate it with our models.
				<ol>
				<li> rails db:create </li>
				<li> rails db:migrate </li>
				</ol>
			Now, everything should be set up for the application. If you want to run the application locally, you may run the following command:
				<ul>
				<li> rails server </li>
				</ul>

			In order to update the application that is hosted on Heroku, you must add new code to the master branch on you GitHub remote repository. 
			This can be in the form of a git commit, merge, or push. Once this is done, the GitHub actions that are set in place on the repository will 
			handle the CI/CD process such as regression testing, integration testing, and deployment to Heroku.
			</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3_1" aria-expanded="true" aria-controls="collapse3_1">
				Data back up
			  </a>
			</h3>
		  </div>
		  <div id="collapse3_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p> The website is hosted using Heroku and uses the Heroku Postgres table to store data. To back up data 
			  follow the instructions availiable in the Heroku website <a href="https://devcenter.heroku.com/articles/heroku-postgres-backups" target="_blank">https://devcenter.heroku.com/articles/heroku-postgres-backups</a>
			  </p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3_2" aria-expanded="true" aria-controls="collapse3_2">
				Important Links related to the website
			  </a>
			</h3>
		  </div>
		  <div id="collapse3_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>Links that are required to ensure that the website functions as intended</p>
			  	<ul>
				<li> Heroku website link: <a href="https://tamu-member-shpe-portal.herokuapp.com" target="_blank">https://tamu-member-shpe-portal.herokuapp.com</a> </li>
				<li> AWS for picture storage: <a href="https://s3.console.aws.amazon.com/s3/buckets/membershpe-profile-pictures?region=us-east-1&tab=objects" target="_blank">https://s3.console.aws.amazon.com/s3/buckets/membershpe-profile-pictures?region=us-east-1&tab=objects</a> </li>
				<li> Googlt OAuth for sign in: <a href="https://console.cloud.google.com/" target="_blank"> https://console.cloud.google.com/ </a> </li>
				</ul>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3_3" aria-expanded="true" aria-controls="collapse3_3">
				Maintenance issues
			  </a>
			</h3>
		  </div>
		  <div id="collapse3_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Contact the product owner at <a href="mailto:name@email.com">jonathan09@tamu.edu</a></p>
			</div>
		  </div>
		</div>
	  </div>
  
  </div>
</section>
    </div>
</div>