<h1>Admin Home</h1>
<%= link_to 'Return to normal app', root_path%>
<%= link_to 'Account Requests', admin_account_requests_path %>
<%= link_to 'Pre-Approved Emails', admin_preapproved_emails_path %>
<%= link_to 'Approved Users', admin_approved_users_path %>
