<h1 class="mb-4">Home</h1>
<h4>Welcome to the TAMU SHPE memberSHPE Portal!</h4>
<h4 style="color:grey">This website facilitates networking between current members and alumni.
You can get started by searching for members on the <%= link_to 'People' , user_profiles_path, class:"btn btn-primary"%> page.</h4>