<% if !account_signed_in? %>
    <div class="contrainer-fluid" style="min-height:100vh;padding-top:10vh;background-color:#001F5B">
        <div class="row h-100 justify-content-center">
            <div class="col-md-6 text-center">
                <%= image_tag "tamuSHPE_app_logo.png", style: 'height:auto;width:70%;' , class:"mb-3"%>
                <h1 class="blue-text">Welcome to the memberSHPE Portal!</h1>
                <div class="row" style="padding-left:10vh;padding-right:10vh;">
                    <%=link_to "Sign in with Google", account_google_oauth2_omniauth_authorize_path , class: "btn btn-outline",style:"color:#FD652F;border-color:#FD652F"%>
                </div>
            </div>
        </div>
    </div>
<%end%>