<style>
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.2rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1rem;
}
</style>



  <h3>Functionality </h3>

        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
  
	 
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				Profile page
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p>User will be able to edit their general information on this page by clicking the "Edit Profile" under the Profile picture.</p>
			  <p>The following are the constraints on editing general information</p>
			  <ul>
				<li>First name and Last Name can not be blank</li>
				<li>You will not be able to edit your email </li>
				<li>Facebook, Instagram, Linkedin url must be matching to their coreesponding url</li>
				<li>Phone Number must contains 10 digits </li>
				<li>Graduating Year must contains 4 digits </li>
			  </ul>
			  <p>User will be able to add their position information on this page by clicking the "Add" Button under Postion.</p>
			  <p>User will be able to edit their position information on this page by clicking the "Note" icon under one of the existing position.</p>
			  <p>User will be able to delete their position information on this page by clicking the "Trash Can" icon under one of the existing position.</p>
			  <p>The following are the constraints on adding/editing position information</p>
			  <ul>
				<li>Company Name, Title, Start Date,End Date,City,State input field must not be empty</li>
				<li>User can click on the "I currently work in this role" to avoid putting in End Date</li>
			  </ul>
			   <p>User will be able to add their degree information on this page by clicking the "Add" Button under degree.</p>
			  <p>User will be able to edit their degree information on this page by clicking the "Note" icon under one of the existing degree.</p>
			  <p>User will be able to delete their degree information on this page by clicking the "Trash Can" icon under one of the existing degree.</p>
			 
			  <p>The following are the constraints on adding/editing degree information</p>
			   <ul>
				<li>School Name, Degree, Start Date,End Date, must not be empty</li>
				<li>User can click on the "I currently work in this role" to avoid putting in End Date</li>
			  </ul>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				Search
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>User can search for other member through the following attributes:
			  </p>
			  <ul>
				<li>First Name</li>
				<li>Last Name </li>
				<li>Employer</li>
				<li>School</li>
				<li>Field of Study</li>
				<li>Industry</li>
				<li>Title</li>
				<li>Committees</li>

			  </ul>
			  <p>Note: User can also view other member's information by clicking "View Profile" under the member they want to view.
			   </p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				Help
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>User can find list of Q&A question and complete user documentation on this page</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Settings
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>User will be able to log out in this page by clicking the "Sign Out" button</p>
			  <p>User will be able to delete their account by cliking the "Cancel my account" button</p>
			</div>
		  </div>
		</div>
	  </div>
  
  </div>
</section>