<div class="books edit">
  <h2>Update General Information</h2>

  <%= form_for(@user_profile) do |f| %>
  
       <%= render(:partial => 'form', :locals => {:f=>f})%>

  <% end %>
  <%= link_to("Back", employee_path(User.get_current_user(current_account).user_id), :class => 'btn btn-secondary mt-2') %>
</div>