// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fd652f;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

.ftco-section {
  padding: 7em 0;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}
.heading-section small {
  font-size: 18px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#close-button{
  display: none;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
}

#navbar2{
  display:none;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #001f5b;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -300px;
}
#sidebar .logo {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
#sidebar .logo span {
  display: block;
}
#sidebar ul.components {
  // text-align: center;
  padding: 0;
}
#sidebar ul li {
  font-size: 18px;
}
#sidebar ul li > ul {
  margin-left: 15px;
}
#sidebar ul li > ul li {
  font-size: 15px;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a:hover {
  color: #fd652f;
}
#sidebar ul li.active > a {
  background: transparent;
  color: #fd652f;
}
.stat-item{
  width: 31%;
}
@media (max-width: 775px) {
  .stat-item{
    width: 45%;
  }
}
@media (max-width: 500px) {
  .stat-item{
    width: 90%;
  }
}
@media (max-width: 1050px) {
  #sidebar{
    // margin-left: -300px;
    z-index: 100;
    display: none;
    transform: translateX(-300px);
  }
  #navbar2{
    display:block;
  }
  #sidebar.active {
    // margin-left: 0;
    display: block;
    transform: translateX(300px);
  }
  #close-button{
    display: block;
    transform: translate(10px,10px);
  }
  #sidebarCollapse span {
    display: none;
  }

}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  margin-left: 9.7em;
}

@media (max-width: 991.98px) {
  #search-results{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.btn-primary {
  background: #fd652f;
  border-color: #fd652f;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #fd652f !important;
  border-color: #fd652f !important;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.blue-text {
  color: #60d2ff !important;
}
.white-text {
  color: #777777 !important;
}
.form-div {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  background-color: white;
  margin-bottom: 10vh;
  border-radius: 10px 70px;
}
.big-title {
  font-size: calc(1.825rem + 0.9vw) !important;
}

  .fa-linkedin-square:hover{
    color: #0e76a8;
  }

.fa-facebook-square:hover {
  color: #4267b2;
}

.fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-edit:hover {
  color: #23cdff;
}

.fa-trash:hover {
  color: #f55f5f;
}

.fa-link:hover {
  color: #000000;
}

.fa-facebook-square {
  color: #999999;
  padding: 0.2rem;
}

.fa-instagram {
  color: #999999;
  padding: 0.2rem;
}

.fa-linkedin-square {
  color: #999999;
  padding: 0.2rem;
}

.fa-edit {
  color: #999999;
  padding: 0.2rem;
}

.fa-trash {
  color: #999999;
  padding: 0.2rem;
}

.fa-info {
  color: #ffffff;
  padding: 0.2rem;
}

.fa-link {
  color: #999999;
  padding: 0.2rem;
}

// Search CSS

.search-card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff
}

.search-card h4 {
  font-size: calc(1.275rem + .3vw);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-card span {
  font-size: calc(.75rem + .3vw);
  font-weight: 400 !important;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
  min-height: 43px;
}


.search-card-content{
  margin-left: 1rem!important;
  width: calc(100% - 121px);
}

.logo2{
  display: block;
  width: 100px;
  height: 100px;
}

.logo3{
  display: block;
  width: 150px;
  height: 150px;
}

.show-badges span {
  font-size: calc(.75rem + .3vw);
  font-weight: 400 !important;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.middle-divider{
  margin: 2rem 0;
}

.default-cursor:hover{
  cursor: default;
}

.fa-times:hover{
  cursor: pointer;
  color: #fd652f;
}
